In [ ]:
# Agenda

how to write variables

print and input

strings

if else

for loop

boolean actual functions

# how to write variables

In [ ]:
# 1. You can write variable name as with any length.
a = 10
mydata = 3.55
new_project_input_variable_1341254254265412542541254126541254 = "some new info"

print( a )
print( mydata )
print( new_project_input_variable_1341254254265412542541254126541254 )

In [ ]:
# 2. my variable names shall contain letters, numbers and _


place = "Delhi"
new_place = "Pune"
my_place_100 = "Jaipur"
place8 = "Raipur"

print( place )
print( new_place )
print( my_place_100 )
print( place8 )

In [ ]:
# 3. variable names shall not start with numbers


place = "Delhi"
_place = "Pune"
_100 = "Jaipur"
# 8place = "Raipur"

print( place )
print( _place )
print( _100 )
# print( 8place )

In [ ]:
# 4. No special character allowed
# ~!@#$%^&*()_}{:"?><"}

# place$1 = 5412
# data-`~new = 35841254

# new placce = "delhi"

In [ ]:
# 5. No Keywords allowed.

# if = 60
# break = 100
# for = 584284

# some built in functions are there so you shall avoid using them also, else you will get "not callable" problems
# eg : int, float, str, set, list....

In [14]:
import keyword # using the package "keyword" in my python environment

print( keyword.kwlist )

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [11]:
import platform
platform.architecture()

('64bit', 'WindowsPE')

In [12]:
import math
print( math.log(100) )
print( math.sqrt(100) )

4.605170185988092
10.0

In [17]:
# False = 30

In [19]:
name = "10000"
new_name = int(name)
print(new_name)

10000

In [20]:
name = "True"
new_name = bool(name)
print(new_name)

True

In [1]:
# print = 1000
# print

In [2]:
print("Hellow")

Hellow

In [3]:
value = True
new_value = int(value)

new_value

1

In [5]:
str_1 = "100"
new_value = int(str_1)

print( type( new_value ) )
new_value

<class 'int'>

100

In [6]:
# int = 100
# int

In [22]:
str

'100'

In [21]:
str = "100"
new_value = int(str)

print( type( new_value ) )
new_value

<class 'int'>

100

In [8]:
value = 60.25
new_value = str(value) # "100"(60.25)

new_value

'60.25'

In [9]:
value = 60.25
new_value = int(value)

new_value

60

In [40]:
# # Why We Love Jupyter Notebook...

# 1. last line has default print type
# 2. there is object smart suggestions (TAB)
# 3. There is mothod display (use TAB after .)
# 4. Inside the function use "shift + tab"

In [26]:
print( 100 - 6 )

print( 20 * 5 )


print( 40 / 9 )

94
100
4.444444444444445

In [29]:
new_data = 50

In [30]:
new_data

50

In [32]:
my_string = "sngdfwgyudjnwbv"

In [33]:
my_string

'sngdfwgyudjnwbv'

In [35]:
import keyword
# keyword.kwlist

In [ ]:
# my_string.

# print Function

**SYNTAX** : print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)
 
  -- ARGUMENTS --> value, sep, end , file , flush

- It is used to display to the output screen
- It can be used to display multiple values by using , as a seperator
- sep is used to display the value between different arguments

In [41]:
print("Hello")
print("Hello" , "World")
print( "Delhi" ,                   2023 ,                 104.355 , 6j ,                   True )

Hello
Hello World
Delhi 2023 104.355 6j True

In [42]:
print( "Delhi" , 2023 , 104.355 , 6j , True, sep = "---" )

Delhi---2023---104.355---6j---True

In [43]:
print( "Delhi" , 2023 , 104.355 , 6j , True, sep = "\n" ) # \n : new line

Delhi
2023
104.355
6j
True

In [44]:
print( "Delhi" , 2023 , 104.355 , 6j , True, sep = "\t" ) # \t : tab seperation

Delhi	2023	104.355	6j	True

# input

 - this function is used to take values from the user
  - default value is str

In [51]:
name = "Nitish"
age = 30
salary = 500.25

# Nitish is earning $ 500.25  at the age of  30
print( name, "is earning $", salary, "at the age of ", age )

Nitish is earning $ 500.25 at the age of  30

In [57]:
name = input("Name : ")
age = input("Age : ")
salary = input("Salary : ")

print( name, "is earning $", salary, " at the age of ", age )

Name : Aradhana
Age : 25
Salary : 1000.25
Aradhana is earning $ 1000.25  at the age of  25

In [58]:
print( name, type(name) )
print( age, type(age) )
print( salary, type(salary) )

Aradhana <class 'str'>
25 <class 'str'>
1000.25 <class 'str'>

In [48]:
# Q. There is an OTP generated and you have to send it tot the user...

otp_value = 568726
print( "Use OTP", otp_value, " to authorise the current trasaction" )

Use OTP 568726  to authorise the current trasaction

In [ ]:
name = input("Name : ")
age = input("Age : ")
salary = input("Salary : ")

"""
Dear <user_name>

If you invest for next 10 years with 10% of your salary
then you can achieve a corpus of <salary+salary*8/100> at the age of <age+10>

"""

print( )

In [55]:
name = input("Name : ")
age = int( input("Age : ") )
salary = float( input("Salary : ") )

"Dear <name>, you have new salary of <salary*10%> at the age of <age+2>"

print("Dear", name, "you have new salary of", salary + salary * 10 / 100 , "at the age of ", age+2 )

Name : Nitish
Age : 30
Salary : 100.25
Dear Nitish you have new salary of 110.275 at the age of  32

In [56]:
print( name, type(name) )
print( age, type(age) )
print( salary, type(salary) )

Nitish <class 'str'>
30 <class 'int'>
100.25 <class 'float'>